.error {
    color: red;
    font-size: 16px;  
    font-weight: bold; 
}

.hidden {
    display: none;
}

.success {
    color: green;
    font-size: 20px;
    font-weight: bold; 
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],input[type="number"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}   
