.error {
    color: red;
    font-size: 16px;  
    font-weight: bold; 
}

.hidden {
    display: none;
}

.success {
    color: green;
    font-size: 20px;
    font-weight: bold; 
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    
}

h2 {
    text-align: center;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
